html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  color: black;
  background: rgb(177,7,252);
  background: linear-gradient(155deg, rgba(177,7,252,1) 0%, rgba(96,101,253,1) 50%, rgba(0,212,255,1) 100%); 
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
